/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$facebook-x: 0px;
$facebook-y: 0px;
$facebook-offset-x: 0px;
$facebook-offset-y: 0px;
$facebook-width: 48px;
$facebook-height: 48px;
$facebook-total-width: 48px;
$facebook-total-height: 96px;
$facebook-image: '/img/sprites/spritesheet.png';
$facebook: 0px 0px 0px 0px 48px 48px 48px 96px '/img/sprites/spritesheet.png';
$linkedin-x: 0px;
$linkedin-y: 48px;
$linkedin-offset-x: 0px;
$linkedin-offset-y: -48px;
$linkedin-width: 48px;
$linkedin-height: 48px;
$linkedin-total-width: 48px;
$linkedin-total-height: 96px;
$linkedin-image: '/img/sprites/spritesheet.png';
$linkedin: 0px 48px 0px -48px 48px 48px 48px 96px '/img/sprites/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
