/**
 *  Border radius mixin
 *
 *  @include border-radius(.05em);
 */

@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  // stops bg color from leaking outside the border:
}