/**
 *  Breakpoints (media query) mixin
 *
 *  @include bp-large-only {
 *    // Large screen CSS here
 *  }
 */

@mixin bp-large-only {
  @media only screen and (min-width: 60em) {
    @content;
  }
}

@mixin bp-medium-only {
  @media only screen and (min-width: 40em) and (max-width: 59.9375em) {
    @content;
  }
}

@mixin bp-small-only {
  @media only screen and (max-width: 30em) {
    @content;
  }
}